<div id="<%= dom_id user_balance %>">
  <p>
    <strong>Amount:</strong>
    <%= user_balance.amount %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= user_balance.currency %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_balance.user_id %>
  </p>

</div>
