<h1>Editing user balance</h1>

<%= render "form", user_balance: @user_balance %>

<br>

<div>
  <%= link_to "Show this user balance", @user_balance %> |
  <%= link_to "Back to user balances", user_balances_path %>
</div>
